.container {
  background-color: var(--white);
  color: black;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}
.container h2 {
  font-size: 2rem;
}
.current {
  font-size: 7rem;
  font-weight: 900;
  margin: 0;
}

.temperatures {
  display: flex;
  justify-content: space-around;
}
.temperatures p {
  font-size: 1.5rem;
  font-weight: 900;
}

.temperatures span {
  font-weight: 400;
}